ion-toolbar {
    --background: #fdb548;
    --opacity: 45%;
}

ion-card-title {
    --color: black;
}

.icon {
    --color: red;
    --background: #d7ebff;
}

.icon-plus {
    --background: #d7ebff;
}

ion-fab {
    margin-bottom: var(--ion-safe-area-bottom, 0);
    margin-right: var(--ion-safe-area-right, 0);
}

ion-item {
    --background: none;
}

.list-md {
    background: none;
}
