.img-error {
    width: 31%;
    height: auto;
    margin-top: 5%;
    margin-left: 35%;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h4 {
    text-align: center;
}

ion-button {
    --background: #ffffff;
}