<ion-header>
  <ion-toolbar class="dashboard-masivo">
    <ion-title>Mis Clases</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="vistaActual" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="alumno" [disabled]="!roles.includes('alumno')">
      Alumno
    </ion-segment-button>
    <ion-segment-button value="tutor" [disabled]="!roles.includes('tutor')">
      Tutor
    </ion-segment-button>
  </ion-segment>

  <!-- Sección Alumno -->
  <div *ngIf="vistaActual === 'alumno'">
    <h2>Clases por Tomar</h2>
    <ion-list>
      <ion-item *ngFor="let tutoria of clasesPorTomar">
        <ion-label>
          <h3>{{ tutoria.asignatura }}</h3>
          <p>Tutor: {{ tutoria.tutor }}</p>
          <p>Franja Horaria: {{ tutoria.franjaHoraria }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Sección Tutor -->
  <div *ngIf="vistaActual === 'tutor'">
    <h2>Clases por Dar</h2>
    <ion-list>
      <ion-item *ngFor="let clase of clasesPorDar">
        <ion-label>
          <h3>{{ clase.asignatura }}</h3>
          <p>Alumno: {{ clase.alumno }}</p>
          <p>Franja Horaria: {{ clase.franjaHoraria }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
