<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal custom-content">
  <!-- Título del formulario de inicio de sesión -->
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Iniciar Sesión</h1>
    </ion-label>
  </ion-title>

  <div class="image-container">
    <img src="https://i.imgur.com/C6TAZAi.png" alt="Imagen Adicional" style="width: 80%; max-width: 400px; display: block; margin: 0 auto;">
  </div>

  <!-- Campo de nombre de usuario -->
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" style="color: #000000">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="loginData.usuario" placeholder="Ingrese Usuario" required></ion-input>
  </ion-item>

  <!-- Campo de contraseña -->
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" style="color: #000000">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="loginData.password" placeholder="Ingrese su contraseña" required></ion-input>
  </ion-item>

  <!-- Botón de inicio de sesión -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="custom-button" (click)="ingresar()">
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
        <ion-button fill="clear" (click)="olvideClave()" style="color: black">
          Olvidé mi Clave
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
